body{
    background-image: url(../img/bgleaf.jpg);
    background-repeat: no-repeat;
    background-position: center 5px;
    text-align:center;
    font-family:sans-serif;
    font-size:150%;
    margin-bottom:20%;
    color:white;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover {
    transition: color 1s;
    color:#FF69B4;
    text-decoration: none;
}

a:active { text-decoration: none; }