body {
    background: url(/img/testneon.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    color:white;
}

.form
{
    color:white;
    text-align:center;
    /* border:black solid 3px; */
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,107,1) 35%, rgba(0,212,255,1) 100%); */
} 

form{
    margin-left:30%;
    margin-right:30%;
    margin-top:2.2%;
}

.center{
    color:white;
    text-align:center
}